{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section>
      <h2>Grammar explanation </h2>
    </section>

    <section>
      {% for lesson in lessons %}
      
          <a href="{% url 'lesson_detail' lesson.slug %}" style="text-decoration: none; color: inherit;">
            <div class="card">
              <strong>{{ lesson.title }}</strong>
              <p>{{ lesson.content|striptags|truncatewords:15 }}</p>
            </div>
          </a>

      {% empty %}
          <p>Brak lekcji w bazie. Dodaj coś w panelu admina!</p>
      {% endfor %}
      </section>

{% endblock %}